on early-init
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1
    start insmod_sh

service insmod_sh /system/bin/init.insmod.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0
